// color
$bk: #000;
$red: #f03526;
$bn: #a59487;
$gray: #4b5055;

// font
$ns: 'Noto Sans Regular';
$ns-l: 'Noto Sans Light';
$ns-dl: 'Noto Sans DemiLight';
$ns-m: 'Noto Sans Medium';
$nanum-sr: 'NanumSquareRound';

// image path
$imgpath: '../img';

// breakpoint variables
$baseFont: 29;
$px-values: 828;

$screen-lg: 414px;
$screen-ml: 375px;
$screen-md: 360px;
$screen-sm: 320px;