// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-d-name: 'arrow_d';
$arrow-d-x: 580px;
$arrow-d-y: 207px;
$arrow-d-offset-x: -580px;
$arrow-d-offset-y: -207px;
$arrow-d-width: 9px;
$arrow-d-height: 5px;
$arrow-d-total-width: 599px;
$arrow-d-total-height: 534px;
$arrow-d-image: '../img/sp.png';
$arrow-d: (580px, 207px, -580px, -207px, 9px, 5px, 599px, 534px, '../img/sp.png', 'arrow_d', );
$arrow-d-red-name: 'arrow_d_red';
$arrow-d-red-x: 580px;
$arrow-d-red-y: 191px;
$arrow-d-red-offset-x: -580px;
$arrow-d-red-offset-y: -191px;
$arrow-d-red-width: 18px;
$arrow-d-red-height: 12px;
$arrow-d-red-total-width: 599px;
$arrow-d-red-total-height: 534px;
$arrow-d-red-image: '../img/sp.png';
$arrow-d-red: (580px, 191px, -580px, -191px, 18px, 12px, 599px, 534px, '../img/sp.png', 'arrow_d_red', );
$arrow-d-red-2x-name: 'arrow_d_red@2x';
$arrow-d-red-2x-x: 554px;
$arrow-d-red-2x-y: 167px;
$arrow-d-red-2x-offset-x: -554px;
$arrow-d-red-2x-offset-y: -167px;
$arrow-d-red-2x-width: 30px;
$arrow-d-red-2x-height: 20px;
$arrow-d-red-2x-total-width: 599px;
$arrow-d-red-2x-total-height: 534px;
$arrow-d-red-2x-image: '../img/sp.png';
$arrow-d-red-2x: (554px, 167px, -554px, -167px, 30px, 20px, 599px, 534px, '../img/sp.png', 'arrow_d_red@2x', );
$arrow-r-blue-name: 'arrow_r_blue';
$arrow-r-blue-x: 586px;
$arrow-r-blue-y: 137px;
$arrow-r-blue-offset-x: -586px;
$arrow-r-blue-offset-y: -137px;
$arrow-r-blue-width: 12px;
$arrow-r-blue-height: 24px;
$arrow-r-blue-total-width: 599px;
$arrow-r-blue-total-height: 534px;
$arrow-r-blue-image: '../img/sp.png';
$arrow-r-blue: (586px, 137px, -586px, -137px, 12px, 24px, 599px, 534px, '../img/sp.png', 'arrow_r_blue', );
$arrow-r-red-name: 'arrow_r_red';
$arrow-r-red-x: 566px;
$arrow-r-red-y: 313px;
$arrow-r-red-offset-x: -566px;
$arrow-r-red-offset-y: -313px;
$arrow-r-red-width: 6px;
$arrow-r-red-height: 12px;
$arrow-r-red-total-width: 599px;
$arrow-r-red-total-height: 534px;
$arrow-r-red-image: '../img/sp.png';
$arrow-r-red: (566px, 313px, -566px, -313px, 6px, 12px, 599px, 534px, '../img/sp.png', 'arrow_r_red', );
$arrow-up-gray-name: 'arrow_up_gray';
$arrow-up-gray-x: 570px;
$arrow-up-gray-y: 297px;
$arrow-up-gray-offset-x: -570px;
$arrow-up-gray-offset-y: -297px;
$arrow-up-gray-width: 14px;
$arrow-up-gray-height: 8px;
$arrow-up-gray-total-width: 599px;
$arrow-up-gray-total-height: 534px;
$arrow-up-gray-image: '../img/sp.png';
$arrow-up-gray: (570px, 297px, -570px, -297px, 14px, 8px, 599px, 534px, '../img/sp.png', 'arrow_up_gray', );
$arrow-up-gray-2x-name: 'arrow_up_gray@2x';
$arrow-up-gray-2x-x: 554px;
$arrow-up-gray-2x-y: 217px;
$arrow-up-gray-2x-offset-x: -554px;
$arrow-up-gray-2x-offset-y: -217px;
$arrow-up-gray-2x-width: 28px;
$arrow-up-gray-2x-height: 16px;
$arrow-up-gray-2x-total-width: 599px;
$arrow-up-gray-2x-total-height: 534px;
$arrow-up-gray-2x-image: '../img/sp.png';
$arrow-up-gray-2x: (554px, 217px, -554px, -217px, 28px, 16px, 599px, 534px, '../img/sp.png', 'arrow_up_gray@2x', );
$btn-x-2x-name: 'btn_x@2x';
$btn-x-2x-x: 554px;
$btn-x-2x-y: 93px;
$btn-x-2x-offset-x: -554px;
$btn-x-2x-offset-y: -93px;
$btn-x-2x-width: 38px;
$btn-x-2x-height: 40px;
$btn-x-2x-total-width: 599px;
$btn-x-2x-total-height: 534px;
$btn-x-2x-image: '../img/sp.png';
$btn-x-2x: (554px, 93px, -554px, -93px, 38px, 40px, 599px, 534px, '../img/sp.png', 'btn_x@2x', );
$btn-x-red-name: 'btn_x_red';
$btn-x-red-x: 554px;
$btn-x-red-y: 0px;
$btn-x-red-offset-x: -554px;
$btn-x-red-offset-y: 0px;
$btn-x-red-width: 45px;
$btn-x-red-height: 45px;
$btn-x-red-total-width: 599px;
$btn-x-red-total-height: 534px;
$btn-x-red-image: '../img/sp.png';
$btn-x-red: (554px, 0px, -554px, 0px, 45px, 45px, 599px, 534px, '../img/sp.png', 'btn_x_red', );
$ico-blank-name: 'ico_blank';
$ico-blank-x: 580px;
$ico-blank-y: 261px;
$ico-blank-offset-x: -580px;
$ico-blank-offset-y: -261px;
$ico-blank-width: 13px;
$ico-blank-height: 13px;
$ico-blank-total-width: 599px;
$ico-blank-total-height: 534px;
$ico-blank-image: '../img/sp.png';
$ico-blank: (580px, 261px, -580px, -261px, 13px, 13px, 599px, 534px, '../img/sp.png', 'ico_blank', );
$ico-blank-2x-name: 'ico_blank@2x';
$ico-blank-2x-x: 554px;
$ico-blank-2x-y: 237px;
$ico-blank-2x-offset-x: -554px;
$ico-blank-2x-offset-y: -237px;
$ico-blank-2x-width: 20px;
$ico-blank-2x-height: 20px;
$ico-blank-2x-total-width: 599px;
$ico-blank-2x-total-height: 534px;
$ico-blank-2x-image: '../img/sp.png';
$ico-blank-2x: (554px, 237px, -554px, -237px, 20px, 20px, 599px, 534px, '../img/sp.png', 'ico_blank@2x', );
$ico-bus-name: 'ico_bus';
$ico-bus-x: 472px;
$ico-bus-y: 280px;
$ico-bus-offset-x: -472px;
$ico-bus-offset-y: -280px;
$ico-bus-width: 60px;
$ico-bus-height: 66px;
$ico-bus-total-width: 599px;
$ico-bus-total-height: 534px;
$ico-bus-image: '../img/sp.png';
$ico-bus: (472px, 280px, -472px, -280px, 60px, 66px, 599px, 534px, '../img/sp.png', 'ico_bus', );
$ico-car-name: 'ico_car';
$ico-car-x: 394px;
$ico-car-y: 156px;
$ico-car-offset-x: -394px;
$ico-car-offset-y: -156px;
$ico-car-width: 60px;
$ico-car-height: 66px;
$ico-car-total-width: 599px;
$ico-car-total-height: 534px;
$ico-car-image: '../img/sp.png';
$ico-car: (394px, 156px, -394px, -156px, 60px, 66px, 599px, 534px, '../img/sp.png', 'ico_car', );
$ico-down-name: 'ico_down';
$ico-down-x: 580px;
$ico-down-y: 279px;
$ico-down-offset-x: -580px;
$ico-down-offset-y: -279px;
$ico-down-width: 13px;
$ico-down-height: 12px;
$ico-down-total-width: 599px;
$ico-down-total-height: 534px;
$ico-down-image: '../img/sp.png';
$ico-down: (580px, 279px, -580px, -279px, 13px, 12px, 599px, 534px, '../img/sp.png', 'ico_down', );
$ico-down-2x-name: 'ico_down@2x';
$ico-down-2x-x: 554px;
$ico-down-2x-y: 137px;
$ico-down-2x-offset-x: -554px;
$ico-down-2x-offset-y: -137px;
$ico-down-2x-width: 28px;
$ico-down-2x-height: 26px;
$ico-down-2x-total-width: 599px;
$ico-down-2x-total-height: 534px;
$ico-down-2x-image: '../img/sp.png';
$ico-down-2x: (554px, 137px, -554px, -137px, 28px, 26px, 599px, 534px, '../img/sp.png', 'ico_down@2x', );
$ico-in-name: 'ico_in';
$ico-in-x: 306px;
$ico-in-y: 0px;
$ico-in-offset-x: -306px;
$ico-in-offset-y: 0px;
$ico-in-width: 84px;
$ico-in-height: 80px;
$ico-in-total-width: 599px;
$ico-in-total-height: 534px;
$ico-in-image: '../img/sp.png';
$ico-in: (306px, 0px, -306px, 0px, 84px, 80px, 599px, 534px, '../img/sp.png', 'ico_in', );
$ico-in2-name: 'ico_in2';
$ico-in2-x: 306px;
$ico-in2-y: 164px;
$ico-in2-offset-x: -306px;
$ico-in2-offset-y: -164px;
$ico-in2-width: 82px;
$ico-in2-height: 76px;
$ico-in2-total-width: 599px;
$ico-in2-total-height: 534px;
$ico-in2-image: '../img/sp.png';
$ico-in2: (306px, 164px, -306px, -164px, 82px, 76px, 599px, 534px, '../img/sp.png', 'ico_in2', );
$ico-in3-name: 'ico_in3';
$ico-in3-x: 306px;
$ico-in3-y: 84px;
$ico-in3-offset-x: -306px;
$ico-in3-offset-y: -84px;
$ico-in3-width: 84px;
$ico-in3-height: 76px;
$ico-in3-total-width: 599px;
$ico-in3-total-height: 534px;
$ico-in3-image: '../img/sp.png';
$ico-in3: (306px, 84px, -306px, -84px, 84px, 76px, 599px, 534px, '../img/sp.png', 'ico_in3', );
$ico-in4-name: 'ico_in4';
$ico-in4-x: 394px;
$ico-in4-y: 78px;
$ico-in4-offset-x: -394px;
$ico-in4-offset-y: -78px;
$ico-in4-width: 74px;
$ico-in4-height: 74px;
$ico-in4-total-width: 599px;
$ico-in4-total-height: 534px;
$ico-in4-image: '../img/sp.png';
$ico-in4: (394px, 78px, -394px, -78px, 74px, 74px, 599px, 534px, '../img/sp.png', 'ico_in4', );
$ico-lst-name: 'ico_lst';
$ico-lst-x: 586px;
$ico-lst-y: 217px;
$ico-lst-offset-x: -586px;
$ico-lst-offset-y: -217px;
$ico-lst-width: 13px;
$ico-lst-height: 13px;
$ico-lst-total-width: 599px;
$ico-lst-total-height: 534px;
$ico-lst-image: '../img/sp.png';
$ico-lst: (586px, 217px, -586px, -217px, 13px, 13px, 599px, 534px, '../img/sp.png', 'ico_lst', );
$ico-lst-2x-name: 'ico_lst@2x';
$ico-lst-2x-x: 554px;
$ico-lst-2x-y: 191px;
$ico-lst-2x-offset-x: -554px;
$ico-lst-2x-offset-y: -191px;
$ico-lst-2x-width: 22px;
$ico-lst-2x-height: 22px;
$ico-lst-2x-total-width: 599px;
$ico-lst-2x-total-height: 534px;
$ico-lst-2x-image: '../img/sp.png';
$ico-lst-2x: (554px, 191px, -554px, -191px, 22px, 22px, 599px, 534px, '../img/sp.png', 'ico_lst@2x', );
$ico-plus-name: 'ico_plus';
$ico-plus-x: 394px;
$ico-plus-y: 226px;
$ico-plus-offset-x: -394px;
$ico-plus-offset-y: -226px;
$ico-plus-width: 60px;
$ico-plus-height: 60px;
$ico-plus-total-width: 599px;
$ico-plus-total-height: 534px;
$ico-plus-image: '../img/sp.png';
$ico-plus: (394px, 226px, -394px, -226px, 60px, 60px, 599px, 534px, '../img/sp.png', 'ico_plus', );
$ico-squere-name: 'ico_squere';
$ico-squere-x: 554px;
$ico-squere-y: 297px;
$ico-squere-offset-x: -554px;
$ico-squere-offset-y: -297px;
$ico-squere-width: 12px;
$ico-squere-height: 12px;
$ico-squere-total-width: 599px;
$ico-squere-total-height: 534px;
$ico-squere-image: '../img/sp.png';
$ico-squere: (554px, 297px, -554px, -297px, 12px, 12px, 599px, 534px, '../img/sp.png', 'ico_squere', );
$ico-squere-2x-name: 'ico_squere@2x';
$ico-squere-2x-x: 578px;
$ico-squere-2x-y: 237px;
$ico-squere-2x-offset-x: -578px;
$ico-squere-2x-offset-y: -237px;
$ico-squere-2x-width: 14px;
$ico-squere-2x-height: 14px;
$ico-squere-2x-total-width: 599px;
$ico-squere-2x-total-height: 534px;
$ico-squere-2x-image: '../img/sp.png';
$ico-squere-2x: (578px, 237px, -578px, -237px, 14px, 14px, 599px, 534px, '../img/sp.png', 'ico_squere@2x', );
$ico-structure-a-name: 'ico_structure_a';
$ico-structure-a-x: 54px;
$ico-structure-a-y: 484px;
$ico-structure-a-offset-x: -54px;
$ico-structure-a-offset-y: -484px;
$ico-structure-a-width: 58px;
$ico-structure-a-height: 43px;
$ico-structure-a-total-width: 599px;
$ico-structure-a-total-height: 534px;
$ico-structure-a-image: '../img/sp.png';
$ico-structure-a: (54px, 484px, -54px, -484px, 58px, 43px, 599px, 534px, '../img/sp.png', 'ico_structure_a', );
$ico-structure-a-2x-name: 'ico_structure_a@2x';
$ico-structure-a-2x-x: 0px;
$ico-structure-a-2x-y: 418px;
$ico-structure-a-2x-offset-x: 0px;
$ico-structure-a-2x-offset-y: -418px;
$ico-structure-a-2x-width: 82px;
$ico-structure-a-2x-height: 62px;
$ico-structure-a-2x-total-width: 599px;
$ico-structure-a-2x-total-height: 534px;
$ico-structure-a-2x-image: '../img/sp.png';
$ico-structure-a-2x: (0px, 418px, 0px, -418px, 82px, 62px, 599px, 534px, '../img/sp.png', 'ico_structure_a@2x', );
$ico-structure-b-name: 'ico_structure_b';
$ico-structure-b-x: 394px;
$ico-structure-b-y: 290px;
$ico-structure-b-offset-x: -394px;
$ico-structure-b-offset-y: -290px;
$ico-structure-b-width: 61px;
$ico-structure-b-height: 52px;
$ico-structure-b-total-width: 599px;
$ico-structure-b-total-height: 534px;
$ico-structure-b-image: '../img/sp.png';
$ico-structure-b: (394px, 290px, -394px, -290px, 61px, 52px, 599px, 534px, '../img/sp.png', 'ico_structure_b', );
$ico-structure-b-2x-name: 'ico_structure_b@2x';
$ico-structure-b-2x-x: 472px;
$ico-structure-b-2x-y: 0px;
$ico-structure-b-2x-offset-x: -472px;
$ico-structure-b-2x-offset-y: 0px;
$ico-structure-b-2x-width: 78px;
$ico-structure-b-2x-height: 68px;
$ico-structure-b-2x-total-width: 599px;
$ico-structure-b-2x-total-height: 534px;
$ico-structure-b-2x-image: '../img/sp.png';
$ico-structure-b-2x: (472px, 0px, -472px, 0px, 78px, 68px, 599px, 534px, '../img/sp.png', 'ico_structure_b@2x', );
$ico-structure-c-name: 'ico_structure_c';
$ico-structure-c-x: 306px;
$ico-structure-c-y: 244px;
$ico-structure-c-offset-x: -306px;
$ico-structure-c-offset-y: -244px;
$ico-structure-c-width: 56px;
$ico-structure-c-height: 56px;
$ico-structure-c-total-width: 599px;
$ico-structure-c-total-height: 534px;
$ico-structure-c-image: '../img/sp.png';
$ico-structure-c: (306px, 244px, -306px, -244px, 56px, 56px, 599px, 534px, '../img/sp.png', 'ico_structure_c', );
$ico-structure-c-2x-name: 'ico_structure_c@2x';
$ico-structure-c-2x-x: 394px;
$ico-structure-c-2x-y: 0px;
$ico-structure-c-2x-offset-x: -394px;
$ico-structure-c-2x-offset-y: 0px;
$ico-structure-c-2x-width: 74px;
$ico-structure-c-2x-height: 74px;
$ico-structure-c-2x-total-width: 599px;
$ico-structure-c-2x-total-height: 534px;
$ico-structure-c-2x-image: '../img/sp.png';
$ico-structure-c-2x: (394px, 0px, -394px, 0px, 74px, 74px, 599px, 534px, '../img/sp.png', 'ico_structure_c@2x', );
$ico-structure-d-name: 'ico_structure_d';
$ico-structure-d-x: 209px;
$ico-structure-d-y: 186px;
$ico-structure-d-offset-x: -209px;
$ico-structure-d-offset-y: -186px;
$ico-structure-d-width: 54px;
$ico-structure-d-height: 54px;
$ico-structure-d-total-width: 599px;
$ico-structure-d-total-height: 534px;
$ico-structure-d-image: '../img/sp.png';
$ico-structure-d: (209px, 186px, -209px, -186px, 54px, 54px, 599px, 534px, '../img/sp.png', 'ico_structure_d', );
$ico-structure-d-2x-name: 'ico_structure_d@2x';
$ico-structure-d-2x-x: 472px;
$ico-structure-d-2x-y: 142px;
$ico-structure-d-2x-offset-x: -472px;
$ico-structure-d-2x-offset-y: -142px;
$ico-structure-d-2x-width: 64px;
$ico-structure-d-2x-height: 64px;
$ico-structure-d-2x-total-width: 599px;
$ico-structure-d-2x-total-height: 534px;
$ico-structure-d-2x-image: '../img/sp.png';
$ico-structure-d-2x: (472px, 142px, -472px, -142px, 64px, 64px, 599px, 534px, '../img/sp.png', 'ico_structure_d@2x', );
$ico-structure-e-name: 'ico_structure_e';
$ico-structure-e-x: 0px;
$ico-structure-e-y: 484px;
$ico-structure-e-offset-x: 0px;
$ico-structure-e-offset-y: -484px;
$ico-structure-e-width: 50px;
$ico-structure-e-height: 50px;
$ico-structure-e-total-width: 599px;
$ico-structure-e-total-height: 534px;
$ico-structure-e-image: '../img/sp.png';
$ico-structure-e: (0px, 484px, 0px, -484px, 50px, 50px, 599px, 534px, '../img/sp.png', 'ico_structure_e', );
$ico-structure-e-2x-name: 'ico_structure_e@2x';
$ico-structure-e-2x-x: 472px;
$ico-structure-e-2x-y: 72px;
$ico-structure-e-2x-offset-x: -472px;
$ico-structure-e-2x-offset-y: -72px;
$ico-structure-e-2x-width: 66px;
$ico-structure-e-2x-height: 66px;
$ico-structure-e-2x-total-width: 599px;
$ico-structure-e-2x-total-height: 534px;
$ico-structure-e-2x-image: '../img/sp.png';
$ico-structure-e-2x: (472px, 72px, -472px, -72px, 66px, 66px, 599px, 534px, '../img/sp.png', 'ico_structure_e@2x', );
$ico-subway-name: 'ico_subway';
$ico-subway-x: 472px;
$ico-subway-y: 210px;
$ico-subway-offset-x: -472px;
$ico-subway-offset-y: -210px;
$ico-subway-width: 60px;
$ico-subway-height: 66px;
$ico-subway-total-width: 599px;
$ico-subway-total-height: 534px;
$ico-subway-image: '../img/sp.png';
$ico-subway: (472px, 210px, -472px, -210px, 60px, 66px, 599px, 534px, '../img/sp.png', 'ico_subway', );
$ktamc-b-name: 'ktamc_b';
$ktamc-b-x: 94px;
$ktamc-b-y: 305px;
$ktamc-b-offset-x: -94px;
$ktamc-b-offset-y: -305px;
$ktamc-b-width: 144px;
$ktamc-b-height: 40px;
$ktamc-b-total-width: 599px;
$ktamc-b-total-height: 534px;
$ktamc-b-image: '../img/sp.png';
$ktamc-b: (94px, 305px, -94px, -305px, 144px, 40px, 599px, 534px, '../img/sp.png', 'ktamc_b', );
$ktamc-big-name: 'ktamc_big';
$ktamc-big-x: 0px;
$ktamc-big-y: 186px;
$ktamc-big-offset-x: 0px;
$ktamc-big-offset-y: -186px;
$ktamc-big-width: 205px;
$ktamc-big-height: 59px;
$ktamc-big-total-width: 599px;
$ktamc-big-total-height: 534px;
$ktamc-big-image: '../img/sp.png';
$ktamc-big: (0px, 186px, 0px, -186px, 205px, 59px, 599px, 534px, '../img/sp.png', 'ktamc_big', );
$ktamc-big-2x-name: 'ktamc_big@2x';
$ktamc-big-2x-x: 0px;
$ktamc-big-2x-y: 249px;
$ktamc-big-2x-offset-x: 0px;
$ktamc-big-2x-offset-y: -249px;
$ktamc-big-2x-width: 180px;
$ktamc-big-2x-height: 52px;
$ktamc-big-2x-total-width: 599px;
$ktamc-big-2x-total-height: 534px;
$ktamc-big-2x-image: '../img/sp.png';
$ktamc-big-2x: (0px, 249px, 0px, -249px, 180px, 52px, 599px, 534px, '../img/sp.png', 'ktamc_big@2x', );
$ktamc-mega-name: 'ktamc_mega';
$ktamc-mega-x: 0px;
$ktamc-mega-y: 0px;
$ktamc-mega-offset-x: 0px;
$ktamc-mega-offset-y: 0px;
$ktamc-mega-width: 302px;
$ktamc-mega-height: 98px;
$ktamc-mega-total-width: 599px;
$ktamc-mega-total-height: 534px;
$ktamc-mega-image: '../img/sp.png';
$ktamc-mega: (0px, 0px, 0px, 0px, 302px, 98px, 599px, 534px, '../img/sp.png', 'ktamc_mega', );
$ktamc-w-name: 'ktamc_w';
$ktamc-w-x: 242px;
$ktamc-w-y: 305px;
$ktamc-w-offset-x: -242px;
$ktamc-w-offset-y: -305px;
$ktamc-w-width: 144px;
$ktamc-w-height: 40px;
$ktamc-w-total-width: 599px;
$ktamc-w-total-height: 534px;
$ktamc-w-image: '../img/sp.png';
$ktamc-w: (242px, 305px, -242px, -305px, 144px, 40px, 599px, 534px, '../img/sp.png', 'ktamc_w', );
$logo-a-name: 'logo_a';
$logo-a-x: 0px;
$logo-a-y: 379px;
$logo-a-offset-x: 0px;
$logo-a-offset-y: -379px;
$logo-a-width: 151px;
$logo-a-height: 35px;
$logo-a-total-width: 599px;
$logo-a-total-height: 534px;
$logo-a-image: '../img/sp.png';
$logo-a: (0px, 379px, 0px, -379px, 151px, 35px, 599px, 534px, '../img/sp.png', 'logo_a', );
$logo-a-2x-name: 'logo_a@2x';
$logo-a-2x-x: 184px;
$logo-a-2x-y: 249px;
$logo-a-2x-offset-x: -184px;
$logo-a-2x-offset-y: -249px;
$logo-a-2x-width: 108px;
$logo-a-2x-height: 26px;
$logo-a-2x-total-width: 599px;
$logo-a-2x-total-height: 534px;
$logo-a-2x-image: '../img/sp.png';
$logo-a-2x: (184px, 249px, -184px, -249px, 108px, 26px, 599px, 534px, '../img/sp.png', 'logo_a@2x', );
$logo-b-name: 'logo_b';
$logo-b-x: 86px;
$logo-b-y: 418px;
$logo-b-offset-x: -86px;
$logo-b-offset-y: -418px;
$logo-b-width: 130px;
$logo-b-height: 37px;
$logo-b-total-width: 599px;
$logo-b-total-height: 534px;
$logo-b-image: '../img/sp.png';
$logo-b: (86px, 418px, -86px, -418px, 130px, 37px, 599px, 534px, '../img/sp.png', 'logo_b', );
$logo-b-2x-name: 'logo_b@2x';
$logo-b-2x-x: 94px;
$logo-b-2x-y: 349px;
$logo-b-2x-offset-x: -94px;
$logo-b-2x-offset-y: -349px;
$logo-b-2x-width: 92px;
$logo-b-2x-height: 26px;
$logo-b-2x-total-width: 599px;
$logo-b-2x-total-height: 534px;
$logo-b-2x-image: '../img/sp.png';
$logo-b-2x: (94px, 349px, -94px, -349px, 92px, 26px, 599px, 534px, '../img/sp.png', 'logo_b@2x', );
$logo-c-name: 'logo_c';
$logo-c-x: 0px;
$logo-c-y: 305px;
$logo-c-offset-x: 0px;
$logo-c-offset-y: -305px;
$logo-c-width: 90px;
$logo-c-height: 70px;
$logo-c-total-width: 599px;
$logo-c-total-height: 534px;
$logo-c-image: '../img/sp.png';
$logo-c: (0px, 305px, 0px, -305px, 90px, 70px, 599px, 534px, '../img/sp.png', 'logo_c', );
$logo-c-2x-name: 'logo_c@2x';
$logo-c-2x-x: 472px;
$logo-c-2x-y: 350px;
$logo-c-2x-offset-x: -472px;
$logo-c-2x-offset-y: -350px;
$logo-c-2x-width: 74px;
$logo-c-2x-height: 50px;
$logo-c-2x-total-width: 599px;
$logo-c-2x-total-height: 534px;
$logo-c-2x-image: '../img/sp.png';
$logo-c-2x: (472px, 350px, -472px, -350px, 74px, 50px, 599px, 534px, '../img/sp.png', 'logo_c@2x', );
$logo-in-name: 'logo_in';
$logo-in-x: 0px;
$logo-in-y: 102px;
$logo-in-offset-x: 0px;
$logo-in-offset-y: -102px;
$logo-in-width: 267px;
$logo-in-height: 80px;
$logo-in-total-width: 599px;
$logo-in-total-height: 534px;
$logo-in-image: '../img/sp.png';
$logo-in: (0px, 102px, 0px, -102px, 267px, 80px, 599px, 534px, '../img/sp.png', 'logo_in', );
$nav-2x-name: 'nav@2x';
$nav-2x-x: 554px;
$nav-2x-y: 49px;
$nav-2x-offset-x: -554px;
$nav-2x-offset-y: -49px;
$nav-2x-width: 42px;
$nav-2x-height: 40px;
$nav-2x-total-width: 599px;
$nav-2x-total-height: 534px;
$nav-2x-image: '../img/sp.png';
$nav-2x: (554px, 49px, -554px, -49px, 42px, 40px, 599px, 534px, '../img/sp.png', 'nav@2x', );
$page-first-name: 'page_first';
$page-first-x: 576px;
$page-first-y: 313px;
$page-first-offset-x: -576px;
$page-first-offset-y: -313px;
$page-first-width: 9px;
$page-first-height: 7px;
$page-first-total-width: 599px;
$page-first-total-height: 534px;
$page-first-image: '../img/sp.png';
$page-first: (576px, 313px, -576px, -313px, 9px, 7px, 599px, 534px, '../img/sp.png', 'page_first', );
$page-first-2x-name: 'page_first@2x';
$page-first-2x-x: 554px;
$page-first-2x-y: 279px;
$page-first-2x-offset-x: -554px;
$page-first-2x-offset-y: -279px;
$page-first-2x-width: 22px;
$page-first-2x-height: 14px;
$page-first-2x-total-width: 599px;
$page-first-2x-total-height: 534px;
$page-first-2x-image: '../img/sp.png';
$page-first-2x: (554px, 279px, -554px, -279px, 22px, 14px, 599px, 534px, '../img/sp.png', 'page_first@2x', );
$page-first-disabled-name: 'page_first_disabled';
$page-first-disabled-x: 588px;
$page-first-disabled-y: 297px;
$page-first-disabled-offset-x: -588px;
$page-first-disabled-offset-y: -297px;
$page-first-disabled-width: 9px;
$page-first-disabled-height: 7px;
$page-first-disabled-total-width: 599px;
$page-first-disabled-total-height: 534px;
$page-first-disabled-image: '../img/sp.png';
$page-first-disabled: (588px, 297px, -588px, -297px, 9px, 7px, 599px, 534px, '../img/sp.png', 'page_first_disabled', );
$page-first-disabled-2x-name: 'page_first_disabled@2x';
$page-first-disabled-2x-x: 554px;
$page-first-disabled-2x-y: 261px;
$page-first-disabled-2x-offset-x: -554px;
$page-first-disabled-2x-offset-y: -261px;
$page-first-disabled-2x-width: 22px;
$page-first-disabled-2x-height: 14px;
$page-first-disabled-2x-total-width: 599px;
$page-first-disabled-2x-total-height: 534px;
$page-first-disabled-2x-image: '../img/sp.png';
$page-first-disabled-2x: (554px, 261px, -554px, -261px, 22px, 14px, 599px, 534px, '../img/sp.png', 'page_first_disabled@2x', );
$page-prev-name: 'page_prev';
$page-prev-x: 554px;
$page-prev-y: 331px;
$page-prev-offset-x: -554px;
$page-prev-offset-y: -331px;
$page-prev-width: 4px;
$page-prev-height: 7px;
$page-prev-total-width: 599px;
$page-prev-total-height: 534px;
$page-prev-image: '../img/sp.png';
$page-prev: (554px, 331px, -554px, -331px, 4px, 7px, 599px, 534px, '../img/sp.png', 'page_prev', );
$page-prev-2x-name: 'page_prev@2x';
$page-prev-2x-x: 588px;
$page-prev-2x-y: 167px;
$page-prev-2x-offset-x: -588px;
$page-prev-2x-offset-y: -167px;
$page-prev-2x-width: 8px;
$page-prev-2x-height: 14px;
$page-prev-2x-total-width: 599px;
$page-prev-2x-total-height: 534px;
$page-prev-2x-image: '../img/sp.png';
$page-prev-2x: (588px, 167px, -588px, -167px, 8px, 14px, 599px, 534px, '../img/sp.png', 'page_prev@2x', );
$page-prev-disabled-name: 'page_prev_disabled';
$page-prev-disabled-x: 589px;
$page-prev-disabled-y: 313px;
$page-prev-disabled-offset-x: -589px;
$page-prev-disabled-offset-y: -313px;
$page-prev-disabled-width: 4px;
$page-prev-disabled-height: 7px;
$page-prev-disabled-total-width: 599px;
$page-prev-disabled-total-height: 534px;
$page-prev-disabled-image: '../img/sp.png';
$page-prev-disabled: (589px, 313px, -589px, -313px, 4px, 7px, 599px, 534px, '../img/sp.png', 'page_prev_disabled', );
$page-prev-disabled-2x-name: 'page_prev_disabled@2x';
$page-prev-disabled-2x-x: 554px;
$page-prev-disabled-2x-y: 313px;
$page-prev-disabled-2x-offset-x: -554px;
$page-prev-disabled-2x-offset-y: -313px;
$page-prev-disabled-2x-width: 8px;
$page-prev-disabled-2x-height: 14px;
$page-prev-disabled-2x-total-width: 599px;
$page-prev-disabled-2x-total-height: 534px;
$page-prev-disabled-2x-image: '../img/sp.png';
$page-prev-disabled-2x: (554px, 313px, -554px, -313px, 8px, 14px, 599px, 534px, '../img/sp.png', 'page_prev_disabled@2x', );
$spritesheet-width: 599px;
$spritesheet-height: 534px;
$spritesheet-image: '../img/sp.png';
$spritesheet-sprites: ($arrow-d, $arrow-d-red, $arrow-d-red-2x, $arrow-r-blue, $arrow-r-red, $arrow-up-gray, $arrow-up-gray-2x, $btn-x-2x, $btn-x-red, $ico-blank, $ico-blank-2x, $ico-bus, $ico-car, $ico-down, $ico-down-2x, $ico-in, $ico-in2, $ico-in3, $ico-in4, $ico-lst, $ico-lst-2x, $ico-plus, $ico-squere, $ico-squere-2x, $ico-structure-a, $ico-structure-a-2x, $ico-structure-b, $ico-structure-b-2x, $ico-structure-c, $ico-structure-c-2x, $ico-structure-d, $ico-structure-d-2x, $ico-structure-e, $ico-structure-e-2x, $ico-subway, $ktamc-b, $ktamc-big, $ktamc-big-2x, $ktamc-mega, $ktamc-w, $logo-a, $logo-a-2x, $logo-b, $logo-b-2x, $logo-c, $logo-c-2x, $logo-in, $nav-2x, $page-first, $page-first-2x, $page-first-disabled, $page-first-disabled-2x, $page-prev, $page-prev-2x, $page-prev-disabled, $page-prev-disabled-2x, );
$spritesheet: (599px, 534px, '../img/sp.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
