// variables
$breakpoint: 768px;

$font-base: 17px;
$font-base-m: 13px;

$ns: NanumSquare;
$font: $ns, 'Malgun Gothic','맑은 고딕', Helvetica, 'Apple SD Gothic Neo', sans-serif;

$red: #f8434a;

$imgpath: '../img';